/* To manage the size of the 6 why us images */
.card-img {
    width: 100%;
    height: 300px; 
    object-fit: cover; /* Maintain aspect ratio */
}
  
.gallery-image {
    width: 100%;
    height: 700px; 
    object-fit: cover; /* Maintain aspect ratio */
}